# --- OS & System Files ---
.DS_Store            # macOS system file
week0/.DS_Store
.gitignore
.gitignore
week2/.DS_Store
week1/.DS_Store
week2/assign2 - deliverable worksheet.docx
assign0 - deliverable worksheet.docx
.gitignore
