# --- OS & System Files ---
.DS_Store            # macOS system file
week0/.DS_Store
.gitignore
.gitignore
week2/.DS_Store
week1/.DS_Store
week2/assign2 - deliverable worksheet.docx
assign0 - deliverable worksheet.docx
.gitignore
week4/assignJS1 - deliverable worksheet.docx
week4/~$signJS1 - deliverable worksheet.docx
week5/.DS_Store
.gitignore
week5.zip
JS2- deliverable worksheet.docx
week5/~$2- deliverable worksheet.docx
.DS_Store
week6.zip
week7/api_image.png
